@import 'settings';
@import 'foundation';


.divider-image {
	padding: 1em 0;
}
.preheader {
	p {
		color: $dark-gray;
		font-size: 9px;
	}
}

/* Main header */
.header {
	h1, .tagline {
		font-family: "Palatino", "Times New Roman", serif;
		margin-bottom: 0;
		color: $black;
	}
	h1 {
		font-weight: bold;
		font-size: 48px;
		line-height: 48px;
		text-transform: uppercase;

		@media only screen and (max-width: #{$global-breakpoint}) {
			font-size: 24px !important;
			line-height: 24px !important;
		}
	}

	.tagline {
		font-size: 14px;
		line-height: 14px;
		}
}

.fineprint {
	font-style: italic;
	font-size: .8rem;
}

/* Featured Block styles */
.featured-block {
	background: $primary-color;

		h1, h2, h3, h4, h5, h6, p, {
			color: $white;
		}
		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
		}
		table.button.large table tr td {
			background: $white;

			a {
				color: $primary-color;
			}
		}
}

/* Hero Image styles */
.hero-image {
	position: relative;
	.image-holder {
		background-size: 580px 417px;
		background-repeat: no-repeat;
		background-position: left;
		@media only screen and (max-width: #{$global-breakpoint}) {
		}
	}
	.container {
	}
	.text-over-image td {
		vertical-align:middle;
		padding-right: $global-gutter;
		@media only screen and (max-width: #{$global-breakpoint}) {
			vertical-align: bottom;
		}
	}
	h1 {
		// position: absolute;
		// top: $body-line-height;
		// left: 1em;
		color: $white;
		font-weight: bold;
		text-align: right;
		padding-right: $global-gutter;
	}
}

/* FOOTER STYLES */
.footer {
	background: $white;

	p, a {
		color: $dark-gray;
		font-size: .8rem;
	}
}
