<container>
  <row class="footer">
    <hr />
    <columns small="6">
      <spacer size="16"></spacer>
      <p>Nebo Lodge<br />
        11 Mullins Lane<br />
        North Haven, Maine 04853<br />
        <a href="http:www.nebolodge.com">www.nebolodge.com</a></p>
    </columns>

    <columns small="6">
      <spacer size="16"></spacer>
      <p>Want less email? Change your settings here.<br />
      <unsubscribe>Unsubscribe from all emails</unsubscribe>.<br />
      Share this with a friend.</p>
    </columns>
  </row>
</container>
