<container>
  <row class="preheader">
    <columns small="12" large="8" >
      <p>Barn Supper tickets and rooms are going fast! Don't miss out on spring on North Haven. </p>
    </columns>
    <columns large="4" class="show-for-large">
    	<p><webversion>View this email in your browser</webversion></p>
    </columns>
  </row>

  <row class="header ">
  	<!-- <columns class="red"></columns> -->
  	<columns small="4" large="3" >
        <img class="top_logo float-right " src="{{root}}assets/img/Nebo_logo_square@2x.png" alt="Nebo Lodge"/>
    </columns>
    <columns small="8" large="9">
      <!-- <spacer size="14" class="show-for-large"></spacer> -->
      <spacer size="18" class="show-for-small"></spacer>
      <h1>Nebo Lodge</h1>
  		<span class="tagline show-for-large"><em>an historic inn &amp; restaurant on North Haven Island</em></span>
  	</columns>
  </row>
</container>
